{% extends 'base.html' %}

{% block title %}Lista de Historias Clínicas{% endblock %}

{% block content %}
<div class="container">
    <h2>Lista de Historias Clínicas</h2>
    <a href="{% url 'crear_historia_clinica' %}" class="btn btn-success mb-3">Añadir Historia Clínica</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Paciente</th>
                <th>Consulta</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for historia in historias %}
            <tr>
                <td>{{ historia.persona.nombre }} {{ historia.persona.apellido }}</td>
                <td>{{ historia.consulta.fecha }}</td>
                <td>
                    <a href="{% url 'actualizar_historia_clinica' historia.id %}" class="btn btn-warning btn-sm">Editar</a>
                    <a href="{% url 'eliminar_historia_clinica' historia.id %}" class="btn btn-danger btn-sm">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
