{% extends 'base.html' %}

{% block title %}Actualizar Persona{% endblock %}

{% block content %}
<div class="container">
    <h2>Actualizar Persona</h2>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success">Actualizar</button>
        <a href="{% url 'listar_personas' %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
<!-- Flatpickr CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

<!-- Flatpickr JS -->
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

<!-- Activación de Flatpickr -->
<script>
    flatpickr(".flatpickr", {
        dateFormat: "Y-m-d",  // Formato de la fecha (AAAA-MM-DD)
        altInput: true,       // Muestra el valor en un formato más amigable
        altFormat: "F j, Y",  // Formato alternativo (Ej: March 20, 2025)
        locale: "es",          // Cambia el idioma al español
        maxDate: new Date(),    // Máximo: hoy (año actual)
        minDate: "1920-01-01"   // Mínimo: 1 de enero de 1900
    });
</script>
{% endblock %}
