{% extends 'base.html' %}

{% block title %}Crear Persona{% endblock %}

{% block content %}
<div class="container">
    <h2>Crear Persona</h2>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Guardar</button>
        <a href="{% url 'listar_personas' %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>

<!-- Flatpickr CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<!-- Flatpickr JS -->
<script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/es.js"></script>
<!-- Activación de Flatpickr -->
<script>
    // Función para calcular la fecha mínima permitida (18 años atrás)
    function getMinDate() {
        var date = new Date();
        date.setFullYear(date.getFullYear() - 18); // Resta 18 años a la fecha actual
        return date;
    }

    // Inicializar Flatpickr
    flatpickr(".flatpickr", {
        maxDate: getMinDate(), // Establecer la fecha máxima como la fecha mínima permitida
        dateFormat: "Y-m-d", // Formato de fecha
    });
</script>

{% endblock %}
