{% extends 'base.html' %}
{% load static %}

{% block title %}Lista de Personas{% endblock %}

{% block content %}
<div class="container">
    <h2>Lista de Personas</h2>
    <a href="{% url 'crear_persona' %}" class="btn btn-success mb-3">Añadir Persona</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Teléfono</th>
                <th>Email</th>
                <th>Foto</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for persona in persona %}
            <tr>
                <td>{{ persona.nombre }}</td>
                <td>{{ persona.apellido }}</td>
                <td>{{ persona.telefono }}</td>
                <td>{{ persona.email }}</td>
                <td>                    
                    {% if persona.imagen %}
                    <img src="{{ usuario.persona.imagen.url }}" alt="Imagen de {{ usuario.persona.nombre }}" width="100">
                    {% else %}
                    <img src="{% static 'img/usuarios_pre.png' %}" alt="Imagen predeterminada" width="100">
                    {% endif %}
                </td>     
                <td>
                    <a href="{% url 'actualizar_persona' persona.id %}" class="btn btn-warning btn-sm">Editar</a>
                    <a href="{% url 'desactivar_persona' persona.id %}" class="btn btn-danger btn-sm" onclick="return confirm('¿Realmente desea eliminar esta persona?')">Desactivar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
