{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
<body>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Clinic Master{% endblock %}</title>

    <!-- Estilos personalizados -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="{% static 'js/sidebar.js' %}"></script>


    <!-- Navbar -->
    <nav class="navbar navbar-dark bg-primary">
        <div class="container-fluid">
            <button class="btn btn-light" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebarMenu">
                ☰ Menú
            </button>
            <a class="navbar-brand ms-2" href="{% url 'home' %}">Clinic Master</a>
            <div class="ms-auto">
                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-link text-white text-decoration-none">
                        <i class="bi bi-box-arrow-right"></i> Cerrar sesión
                    </button>
                </form>
            </div>
        </div>
    </nav>

    <!-- Menú lateral -->
    <div class="offcanvas offcanvas-start text-bg-dark" tabindex="-1" id="sidebarMenu">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title">Menú</h5>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"></button>
        </div>
        <div class="offcanvas-body">
            <ul class="nav flex-column">
                <li class="nav-item"><a class="nav-link text-white" href="{% url 'seleccionar_cita' %}">seleccionar cita</a></li>
            </ul>
        </div>
    </div>


    <!-- Contenido principal -->
    <div class="container mt-4">
        {% block content %}{% endblock %}
    </div>

    <!-- Footer -->
    <footer class="text-center mt-4 p-3 bg-light">
        <p>© 2024 Clinic Master - Todos los derechos reservados.</p>
    </footer>
</body>
</html>
