{% extends 'base.html' %}

{% block title %}Eliminar Examen{% endblock %}

{% block content %}
<div class="container">
    <h2 class="text-danger">¿Estás seguro de que quieres eliminar este Examen?</h2>
    <p><strong>Tipo:</strong> {{ examen.tipo_examen }}</p>
    <p><strong>Resultado:</strong> {{ examen.resultado_examen }}</p>
    <p><strong>Observaciones:</strong> {{ examen.observacion_examen }}</p>

    <form method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Eliminar</button>
        <a href="{% url 'listar_examenes' %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}
