{% extends 'base.html' %}

{% block title %}Lista de Exámenes{% endblock %}

{% block content %}
<div class="container">
    <h2>Lista de Exámenes</h2>
    <a href="{% url 'crear_examen' %}" class="btn btn-success mb-3">Añadir Examen</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Tipo</th>
                <th>Resultado</th>
                <th>Observaciones</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for examen in examenes %}
            <tr>
                <td>{{ examen.tipo_examen }}</td>
                <td>{{ examen.resultado_examen }}</td>
                <td>{{ examen.observacion_examen }}</td>
                <td>
                    <a href="{% url 'actualizar_examen' examen.id %}" class="btn btn-warning btn-sm">Editar</a>
                    <a href="{% url 'eliminar_examen' examen.id %}" class="btn btn-danger btn-sm">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
