{% extends 'base.html' %}

{% block title %}Eliminar Medicamento{% endblock %}

{% block content %}
<div class="container">
    <h2 class="text-danger">¿Estás seguro de que quieres eliminar este Medicamento?</h2>
    <p><strong>Nombre:</strong> {{ medicamento.nombre_medicamento }}</p>
    <p><strong>Dosis:</strong> {{ medicamento.dosis }}</p>
    <p><strong>Frecuencia:</strong> {{ medicamento.frecuencia }}</p>

    <form method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Eliminar</button>
        <a href="{% url 'listar_medicamentos' %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}
