{% extends 'base.html' %}

{% block title %}Lista de Medicamentos{% endblock %}

{% block content %}
<div class="container">
    <h2>Lista de Medicamentos</h2>
    <a href="{% url 'crear_medicamento' %}" class="btn btn-success mb-3">Añadir Medicamento</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Dosis</th>
                <th>Frecuencia</th>
                <th>Duración</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for medicamento in medicamentos %}
            <tr>
                <td>{{ medicamento.nombre_medicamento }}</td>
                <td>{{ medicamento.dosis }}</td>
                <td>{{ medicamento.frecuencia }}</td>
                <td>{{ medicamento.duracion_tratamiento }}</td>
                <td>
                    <a href="{% url 'actualizar_medicamento' medicamento.id %}" class="btn btn-warning btn-sm">Editar</a>
                    <a href="{% url 'eliminar_medicamento' medicamento.id %}" class="btn btn-danger btn-sm">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
