{% extends 'base.html' %}

{% block title %}Eliminar Consulta{% endblock %}

{% block content %}
<div class="container">
    <h2 class="text-danger">¿Estás seguro de que quieres eliminar esta Consulta?</h2>
    <p><strong>Fecha:</strong> {{ consulta.fecha }}</p>
    <p><strong>Médico:</strong> {{ consulta.medico.id_persona.nombre }} {{ consulta.medico.id_persona.apellido }}</p>

    <form method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Eliminar</button>
        <a href="{% url 'listar_consultas' %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}
