{% extends 'medico.html' %}

{% block title %}Lista de Consultas{% endblock %}

{% block content %}
<div class="container">
    <h2>Lista de Consultas</h2>
    <a href="{% url 'crear_consulta' %}" class="btn btn-success mb-3">Añadir Consulta</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Médico</th>
                <th>Cita</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for consulta in consultas %}
            <tr>
                <td>{{ consulta.fecha }}</td>
                <td>{{ consulta.medico.id_persona.nombre }} {{ consulta.medico.id_persona.apellido }}</td>
                <td>{{ consulta.cita.tipo }}</td>
                <td>
                    <a href="{% url 'actualizar_consulta' consulta.id %}" class="btn btn-warning btn-sm">Editar</a>
                    <a href="{% url 'eliminar_consulta' consulta.id %}" class="btn btn-danger btn-sm">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
