{% extends 'base.html' %}

{% block title %}Eliminar Fórmula{% endblock %}

{% block content %}
<div class="container">
    <h2 class="text-danger">¿Estás seguro de que quieres eliminar esta Fórmula?</h2>
    <p><strong>Descripción:</strong> {{ formula.descripcion }}</p>
    <p><strong>Medicamento:</strong> {{ formula.mid_nombre_medicamento.nombre_medicamento }}</p>

    <form method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Eliminar</button>
        <a href="{% url 'listar_formulas' %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}
