{% extends 'base.html' %}

{% block title %}Lista de Fórmulas{% endblock %}

{% block content %}
<div class="container">
    <h2>Lista de Fórmulas</h2>
    <a href="{% url 'crear_formula' %}" class="btn btn-success mb-3">Añadir Fórmula</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Descripción</th>
                <th>Medicamento</th>
                <th>Fecha Expiración</th>
                <th>Recomendaciones</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for formula in formulas %}
            <tr>
                <td>{{ formula.descripcion }}</td>
                <td>{{ formula.mid_nombre_medicamento.nombre_medicamento }}</td>
                <td>{{ formula.fecha_expiracion }}</td>
                <td>{{ formula.recomendaciones_medicas }}</td>
                <td>
                    <a href="{% url 'actualizar_formula' formula.id %}" class="btn btn-warning btn-sm">Editar</a>
                    <a href="{% url 'eliminar_formula' formula.id %}" class="btn btn-danger btn-sm">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
