{% extends 'base.html' %}

{% block title %}Eliminar Sala{% endblock %}

{% block content %}
<div class="container">
    <h2 class="text-danger">¿Estás seguro de que quieres eliminar esta Sala?</h2>
    <p><strong>Nombre:</strong> {{ sala.nombre_sala }}</p>
    <p><strong>Ubicación:</strong> {{ sala.ubicacion_sala }}</p>
    <p><strong>Capacidad:</strong> {{ sala.capacidad_sala }}</p>
    <p><strong>Horario Disponible:</strong> {{ sala.horario_disponible }}</p>

    <form method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Eliminar</button>
        <a href="{% url 'listar_salas' %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}
