{% extends 'base.html' %}

{% block title %}Lista de Salas{% endblock %}

{% block content %}
<div class="container">
    <h2>Lista de Salas</h2>
    <a href="{% url 'crear_sala' %}" class="btn btn-success mb-3">Añadir Sala</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Ubicación</th>
                <th>Capacidad</th>
                <th>Horario Disponible</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for sala in salas %}
            <tr>
                <td>{{ sala.nombre_sala }}</td>
                <td>{{ sala.ubicacion_sala }}</td>
                <td>{{ sala.capacidad_sala }}</td>
                <td>{{ sala.horario_disponible }}</td>
                <td>
                    <a href="{% url 'actualizar_sala' sala.id %}" class="btn btn-warning btn-sm">Editar</a>
                    <a href="{% url 'eliminar_sala' sala.id %}" class="btn btn-danger btn-sm">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
