{% extends 'base.html' %}

{% block title %}Eliminar Cita{% endblock %}

{% block content %}
<div class="container">
    <h2 class="text-danger">¿Estás seguro de que quieres eliminar esta Cita?</h2>
    <p><strong>Fecha:</strong> {{ cita.fecha }}</p>
    <p><strong>Hora:</strong> {{ cita.hora }}</p>
    <p><strong>Tipo:</strong> {{ cita.tipo }}</p>
    <p><strong>Empleado:</strong> {{ cita.id_empleado.id_persona.nombre }} {{ cita.id_empleado.id_persona.apellido }}</p>

    <form method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Eliminar</button>
        <a href="{% url 'listar_citas' %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}
