{% extends 'auxiliar.html' %}

{% block title %}Lista de Citas{% endblock %}

{% block content %}
<div class="container">
    <h2>Lista de Citas</h2>
    <a href="{% url 'crear_cita' %}" class="btn btn-success mb-3">Añadir Cita</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Tipo</th>
                <th>Empleado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for cita in citas %}
            <tr>
                <td>{{ cita.fecha }}</td>
                <td>{{ cita.hora }}</td>
                <td>{{ cita.tipo }}</td>
                <td>{{ cita.id_empleado.id_persona.nombre }} {{ cita.id_empleado.id_persona.apellido }}</td>
                <td>
                    <a href="{% url 'actualizar_cita' cita.id %}" class="btn btn-warning btn-sm">Editar</a>
                    <a href="{% url 'eliminar_cita' cita.id %}" class="btn btn-danger btn-sm">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
