{% extends 'base.html' %}

{% block title %}Eliminar Diagnóstico{% endblock %}

{% block content %}
<div class="container">
    <h2 class="text-danger">¿Estás seguro de que quieres eliminar este Diagnóstico?</h2>
    <p><strong>Diagnóstico Principal:</strong> {{ diagnostico.diagnostico_principal }}</p>
    <p><strong>Diagnóstico Final:</strong> {{ diagnostico.diagnostico_final }}</p>

    <form method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Eliminar</button>
        <a href="{% url 'listar_diagnosticos' %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}
