{% extends 'base.html' %}

{% block title %}Lista de Diagnósticos{% endblock %}

{% block content %}
<div class="container">
    <h2>Lista de Diagnósticos</h2>
    <a href="{% url 'crear_diagnostico' %}" class="btn btn-success mb-3">Añadir Diagnóstico</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Diagnóstico Principal</th>
                <th>Pruebas Complementarias</th>
                <th>Interpretación</th>
                <th>Diagnóstico Final</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for diagnostico in diagnosticos %}
            <tr>
                <td>{{ diagnostico.diagnostico_principal }}</td>
                <td>{{ diagnostico.pruebas_complementarias }}</td>
                <td>{{ diagnostico.interpretacion_examen }}</td>
                <td>{{ diagnostico.diagnostico_final }}</td>
                <td>
                    <a href="{% url 'actualizar_diagnostico' diagnostico.id %}" class="btn btn-warning btn-sm">Editar</a>
                    <a href="{% url 'eliminar_diagnostico' diagnostico.id %}" class="btn btn-danger btn-sm">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
