{% extends 'base.html' %}

{% block title %}Eliminar Procedimiento{% endblock %}

{% block content %}
<div class="container">
    <h2 class="text-danger">¿Estás seguro de que quieres eliminar este Procedimiento?</h2>
    <p><strong>Nombre:</strong> {{ procedimiento.nombre_procedimiento }}</p>
    <p><strong>Descripción:</strong> {{ procedimiento.descripcion_procedimiento }}</p>
    <p><strong>Duración Estimada:</strong> {{ procedimiento.duracion_estimada }}</p>

    <form method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Eliminar</button>
        <a href="{% url 'listar_procedimientos' %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}
