{% extends 'base.html' %}

{% block title %}Lista de Procedimientos{% endblock %}

{% block content %}
<div class="container">
    <h2>Lista de Procedimientos</h2>
    <a href="{% url 'crear_procedimiento' %}" class="btn btn-success mb-3">Añadir Procedimiento</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Duración Estimada</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for procedimiento in procedimientos %}
            <tr>
                <td>{{ procedimiento.nombre_procedimiento }}</td>
                <td>{{ procedimiento.descripcion_procedimiento }}</td>
                <td>{{ procedimiento.duracion_estimada }}</td>
                <td>
                    <a href="{% url 'actualizar_procedimiento' procedimiento.id %}" class="btn btn-warning btn-sm">Editar</a>
                    <a href="{% url 'eliminar_procedimiento' procedimiento.id %}" class="btn btn-danger btn-sm">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
