{% extends 'base.html' %}

{% block title %}Lista de Formaciones{% endblock %}

{% block content %}
<div class="container">
    <h2>Lista de Formaciones</h2>
    <a href="{% url 'crear_formacion' %}" class="btn btn-success mb-3">Añadir Formación</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Tipo</th>
                <th>Institución</th>
                <th>Fecha Inicio</th>
                <th>Fecha Fin</th>
                <th>Título</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for formacion in listar_formaciones %}
            <tr>
                <td>{{ formacion.tipo_formacion }}</td>
                <td>{{ formacion.intitucion }}</td>
                <td>{{ formacion.fecha_inicio }}</td>
                <td>{{ formacion.fecha_fin }}</td>
                <td>{{ formacion.titulo_obtenido }}</td>
                <td>
                    <a href="{% url 'actualizar_formacion' formacion.id %}" class="btn btn-warning btn-sm">Editar</a>
                    <a href="{% url 'eliminar_formacion' formacion.id %}" class="btn btn-danger btn-sm">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
