{% extends 'base.html' %}

{% block title %}Lista de Anamnesis{% endblock %}

{% block content %}
<div class="container">
    <h2>Lista de Anamnesis</h2>
    <a href="{% url 'crear_anamnesis' %}" class="btn btn-success mb-3">Añadir Anamnesis</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Cirugías</th>
                <th>Alergias</th>
                <th>Enfermedades Familiares</th>
                <th>Trabajo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for anamnesis in listar_anamnesis %}
            <tr>
                <td>{{ anamnesis.cirugias }}</td>
                <td>{{ anamnesis.alergias }}</td>
                <td>{{ anamnesis.enfermedad_familiar }}</td>
                <td>{{ anamnesis.trabajo }}</td>
                <td>
                    <a href="{% url 'actualizar_anamnesis' anamnesis.id %}" class="btn btn-warning btn-sm">Editar</a>
                    <a href="{% url 'eliminar_anamnesis' anamnesis.id %}" class="btn btn-danger btn-sm">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
